body {
    background-color: blanchedalmond;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right bottom, red, orange, yellow, green, rgb(0, 183, 255), blue, purple);
    color: rgb(252, 195, 195);
    font-family: Arial;
    padding: 20px;
    font-size: 26px;
    text-align: center; 
}

footer {
    background-color:Black;
    color:rgb(232, 188, 188); 
    padding: 20px; 
    font-size: 16pt; 
    font-style: italic;
    text-align: right;
}

a {
    text-decoration: none; 
    color: green;
    transition-duration: 1.5s 1.5s;
    transition-delay: 1.5s;
}

a:visited {color: rgb(55, 21, 167);
    font-weight:lighter;
    
}

a:hover {
    color: maroon;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 10px 10px 7px rgb(222, 157, 157);
    transition: 0.3s;
}

a:active {
    color: pink;
    background-color: white;
}
