body {
    background-color: blanchedalmond;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right bottom, red, orange, yellow, green, rgb(0, 183, 255), blue, purple);
    color: rgb(252, 195, 195);
    font-family: Arial;
    padding: 20px;
    font-size: 26px;
    text-align: center; 
}

header:hover {
    background: linear-gradient(to right bottom,  rgb(252, 94, 252), rgb(238, 2, 238),  purple);
    color: rgb(86, 86, 86);
    font-family: Arial;
    padding: 26px;
    font-size: 100px;
    text-align: center; 
}

header:active {
    background: linear-gradient(to right bottom,  rgb(39, 213, 62),  rgb(58, 141, 58),  rgb(29, 82, 15));
    color: rgb(255, 255, 255);
    font-family: Arial;
    padding: 26px;
    font-size: 70px;
    text-align: center;
}

main {
    margin: 10px 20px;
}

footer {
    background-color:Black;
    color:rgb(232, 188, 188); 
    padding: 10px 0px 20px 0px; 
    font-size: 16pt; 
    font-style: italic;
    text-align: right;
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 100;
}

footer:hover {
    background: linear-gradient(to right bottom,  rgb(252, 94, 252), rgb(238, 2, 238),  purple);
    color: rgb(86, 86, 86);
    font-family: Arial;
    padding: 26px;
    font-size: 50px;
    text-align: right; 
}

footer:active {
    background: linear-gradient(to right bottom,  rgb(39, 213, 62),  rgb(58, 141, 58),  rgb(29, 82, 15));
    color: rgb(255, 255, 255);
    font-family: Arial;
    padding: 26px;
    font-size: 40px;
    text-align: right;
}

a {
    text-decoration: none; 
    color: green;
    transition-duration: 1.5s 1.5s;
    transition-delay: 1.5s;
}

a:visited {color: rgb(55, 21, 167);
    font-weight:lighter;
    
}

a:hover {
    color: maroon;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 10px 10px 7px rgb(222, 157, 157);
    transition: 0.3s;
}

a:active {
    color: pink;
    background-color: white;
}
